In [1]:
from underthesea import word_tokenize, pos_tag, sent_tokenize
import regex
import demoji
import pandas as pd
import numpy as np
from pyvi import ViPosTagger, ViTokenizer
import import_ipynb
from NLP_Pre_Libs import *

importing Jupyter notebook from NLP_Pre_Libs.ipynb

In [2]:
data = pd.read_csv('data_Foody.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39925 entries, 0 to 39924
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    39925 non-null  int64
 1   restaurant    39925 non-null  object
 2   review_text   39925 non-null  object
 3   review_score  39925 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.2+ MB

In [4]:
data.head()

,Unnamed: 0,restaurant,review_text,review_score
0,0,Good Morning Restaurant,Pizza phong c√°ch √ù. Ng√°n h·∫£i s·∫£n n√™n c·∫£ nh√† gh...,8.2
1,1,H·∫°t D·∫ª Tr√πng Kh√°nh,- V·ªã tr√≠: ch·ªâ l√† 1 chi·∫øc xe nho nh·ªè n·∫±m ·ªü khu ...,8.0
2,2,B·ªôt - Healthy & Weight Loss Food - Shop Online,Nay lang thang tr√™n BM th·∫•y ƒëang khuy·∫øn m√£i xo...,8.2
3,3,B√°nh Gi√≤ Ch·ª£ Nguy·ªÖn C√¥ng Tr·ª©,"Qu√°n n·∫±m trong ch·ª£ Nguy·ªÖn C√¥ng Tr·ª©, c≈©ng d·ªÖ t√¨...",8.2
4,4,Qu√°n Qu·∫£ng - B√∫n Qu·∫£ng,Ng√£i heo v·ªõi heo thi·ªáttttt üê∑üê∑üê∑\nü§§ü§§ b√∫n nem ch·∫£...,9.0

In [5]:
# Check duplicate value
print('Before drop:',data.shape[0])
data = data.drop_duplicates()
print('After drop:',data.shape[0])

Before drop: 39925
After drop: 39925

In [6]:
# Check nan, null values
nan_rows = data[data.isna().T.any()]
null_rows = data[data.isnull().T.any()]

In [7]:
nan_rows

Empty DataFrame
Columns: [Unnamed: 0, restaurant, review_text, review_score]
Index: []

In [8]:
null_rows

Empty DataFrame
Columns: [Unnamed: 0, restaurant, review_text, review_score]
Index: []

Nh·∫≠n x√©t:
* Kh√¥ng c√≥ d·ªØ li·ªáu tr√πng
* Kh√¥ng c√≥ d·ªØ li·ªáu nan/null

In [9]:
import string
# Preprocessing review text [emojicon, teencode, stopwords...]
data['review_text_t1'] = data.review_text.apply(lambda x: clean_text_thesea(str(x), emoji_dict, teen_dict, wrong_lst, stopwords_lst))
data.head(2)

,Unnamed: 0,restaurant,review_text,review_score,review_text_t1
0,0,Good Morning Restaurant,Pizza phong c√°ch √ù. Ng√°n h·∫£i s·∫£n n√™n c·∫£ nh√† gh...,8.2,h·∫£i_s·∫£n gh√© r·∫ª ƒë·∫πp
1,1,H·∫°t D·∫ª Tr√πng Kh√°nh,- V·ªã tr√≠: ch·ªâ l√† 1 chi·∫øc xe nho nh·ªè n·∫±m ·ªü khu ...,8.0,ƒë√¥ng ƒë·ªëi_di·ªán th√≠ch h·∫°t_d·∫ª h·∫≥n chuy√™n_nghi·ªáp l...

In [10]:
data_new = data[data.review_text_t1 != ' ']
data_new = data[data.review_text_t1 != '']

In [11]:
data_new.shape

(38676, 5)

In [16]:
data_new[['restaurant','review_text','review_score','review_text_t1']].to_csv("data_Foody_pre.csv")

In [17]:
data_now = pd.read_csv("data_Foody_pre.csv")

In [18]:
data_now.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38676 entries, 0 to 38675
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      38676 non-null  int64
 1   restaurant      38676 non-null  object
 2   review_text     38676 non-null  object
 3   review_score    38676 non-null  float64
 4   review_text_t1  38676 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.5+ MB

In [19]:
data_now.head()

,Unnamed: 0,restaurant,review_text,review_score,review_text_t1
0,0,Good Morning Restaurant,Pizza phong c√°ch √ù. Ng√°n h·∫£i s·∫£n n√™n c·∫£ nh√† gh...,8.2,h·∫£i_s·∫£n gh√© r·∫ª ƒë·∫πp
1,1,H·∫°t D·∫ª Tr√πng Kh√°nh,- V·ªã tr√≠: ch·ªâ l√† 1 chi·∫øc xe nho nh·ªè n·∫±m ·ªü khu ...,8.0,ƒë√¥ng ƒë·ªëi_di·ªán th√≠ch h·∫°t_d·∫ª h·∫≥n chuy√™n_nghi·ªáp l...
2,2,B·ªôt - Healthy & Weight Loss Food - Shop Online,Nay lang thang tr√™n BM th·∫•y ƒëang khuy·∫øn m√£i xo...,8.2,khuy·∫øn_m√£i ƒë·ªçc th·ª≠ ƒë·ªì_ƒÉn ƒëa_s·ªë h∆°i kh√¥ th·ª≠
3,3,B√°nh Gi√≤ Ch·ª£ Nguy·ªÖn C√¥ng Tr·ª©,"Qu√°n n·∫±m trong ch·ª£ Nguy·ªÖn C√¥ng Tr·ª©, c≈©ng d·ªÖ t√¨...",8.2,nguy·ªÖn_c√¥ng_tr·ª© th·∫≥ng ƒë√¥ng l·ªôn ng·∫£i_c·ª©u k√®m tu...
4,4,Qu√°n Qu·∫£ng - B√∫n Qu·∫£ng,Ng√£i heo v·ªõi heo thi·ªáttttt üê∑üê∑üê∑\nü§§ü§§ b√∫n nem ch·∫£...,9.0,ng√£i th∆°m k·∫ø s√≤ ·ªëc m·ªÅm kh√¥ng_th√≠ch d·∫ßu_m·ª° ch·∫£_...